@media (max-width: 600px) {
.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  z-index: 9999;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


  .banner__heading {
    font-size: 20px !important;
  }

  .banner__text p {
    font-size: 16px !important;
  }

  .banner__buttons a {
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 280px;
  }
}
